* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #153448;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.header-logo {
  width: 80px;
  height: 80px;
  font-variant-position: normal;
  left: 20px;
}

header h2 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: #ddd;
}

.spacer {
  width: 50px;
  height: auto;
}

nav {
  background-color: #948979;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav a {
  color: #153448;
  text-align: center;
  padding: 10px 80px;
  text-decoration: none;
  margin: 0 8px;
  display: block;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  flex: 1;
}

article {
  padding: 10px;
  background-color: #DFD0B8;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.article-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: fadeInImage 1.5s ease-in forwards;
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.article-content {
  flex: 1;
  text-align: center;
  font-size: 25px;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInTable {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  animation: fadeInTable 1.5s ease-in forwards;
}

table {
  width: 90%;
  margin: 10px;
  border-collapse: collapse;
  background-color: #F2F2F2; /* Table background color */
}

th, td {
  border: 1px solid #575656;
  padding: 8px;
}

th {
  background-color: #3C5B6F; /* Header background color */
  color: white; /* Header text color */
  text-align: center;
}

td {
  background-color: #E0E0E0; /* Cell background color */
  color: #153448; /* Cell text color */
}

.footer {
  background-color: #3C5B6F;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
}

.pdf-container {
  text-align: center;
  width: 100%;
}

.embed-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.embed-container embed {
  margin: 0 auto;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .article-image {
    margin-left: 0;
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }
  .article-content {
    text-align: center;
    padding: 0;
  }
  .table-container {
    flex-direction: column;
  }
  table {
    width: 90%;
  }
}